# Стандартный игнор для Python
__pycache__/
*.pyc
.env
venv/
env/

# === НАШИ ДАННЫЕ (НЕ ЗАЛИВАТЬ В GIT!) ===
# Игнорируем все скачанные фотографии объектов
data/media/

# Игнорируем итоговые отчеты и временные файлы Excel
data/*.xlsx
*.xlsx
~$*.xlsx
*.csv